ul.nav.nav-list
  li.nav-header Actions
  if title == 'Overview'
    li.active
      a(href='/user/#{userID}') Overview
  else
    li 
      a(href='/user/#{userID}') Overview  
  if title == 'Tests'
    li.active
      a(href='/user/#{userID}/tests') Tests
  else
    li 
      a(href='/user/#{userID}/tests') Tests  
  if title == 'Questions'
    li.active
      a(href='/user/#{userID}/questions') Questions
  else
    li 
      a(href='/user/#{userID}/questions') Questions  
  if title == 'Performance'
    li.active
      a(href='/user/#{userID}/performance') Performance
  else
    li 
      a(href='/user/#{userID}/performance') Performance  
