!=partial('partials/_TopBarLoggedIn')
	.container
		.row
			.span2
				include partials/_SideBar
			.span8
				h1.center Add questions to test
				form.form-horizontal(method='post', action='')
					fieldset
						h2 1) Question
						br			
						.control-group			
							textarea.wymeditor(name='QuestionHTML')	
						h2 2) Possible Responses
						br			
						.control-group.success
							label.control-label(for='CorrectAnswer') Correct Answer
							.controls
								input#CorrectAnswer(type='text', name= 'CorrectAnswer')
						.control-group.error
							label.control-label(for='WrongAnswer1') Wrong Answer
							.controls
								input#WrongAnswer1(type='text', name= 'WrongAnswer1')
						.control-group.error
							label.control-label(for='WrongAnswer2') Wrong Answer
							.controls
								input#WrongAnswer2(type='text', name= 'WrongAnswer2')
						.control-group.error
							label.control-label(for='WrongAnswer3') Wrong Answer
							.controls
								input#WrongAnswer3(type='text', name= 'WrongAnswer3') Add Question
						h2 3) Score Weight
						br	
						.control-group
							label.control-label(for='Score') Score
							.controls
								input#Score.span1(type='text', name= 'Score') Score
						h2 4) Associate Standards
						br	
						input(type='hidden', name='_method', value='put')			
					button.btn.btn-primary.wymupdate(type='submit') Add Question
				- if(typeof(message) != 'undefined')		
					.alert.alert-error.alert-block
						a.close(data-dismiss='alert', href='#') ×
						h4.alert-heading Question
						p #{message}
				- if(typeof(Questions) != 'undefined')
					each elm in Questions
						.alert.alert-success.alert-block
							!{elm.Questionhtml}
							p Correct Answer = #{elm.CorrectAnswertext}
							each WA in elm.WrongAnswers
								each val, key in WA
									- if(key == 'WrongAnswertext')
											p Wrong answer = #{val}
			.span2 
				h3 Mearly test content
				p #{title}


