!=partial('partials/_TopBarLoggedIn')
  .container
    .row
      .span2
        include partials/_SideBar
      .span10
        h1 Statistics  
        br
        if(typeof(testid) != 'undefined')
          input#testID(type='hidden', name='testID', value='#{testid}')
        if(typeof(Statdata) != 'undefined')
          != "<script type='text/javascript'>"
          != "var Correctbyquestion = [];"
          != "var Incorrectbyquestion = [];"
          != "var Correctbystudent = [];"
          != "var Incorrectbystudent = [];"
          each question in Statdata.TRbyQuestions
            != "Correctbyquestion.push(" + question.CorrectlyAnswered +");"
            != "Incorrectbyquestion.push(" + question.IncorrectlyAnswered +");"
          each student in Statdata.TRbyStudents
             != "Correctbystudent.push(" + student.CorrectlyAnswered +");"
             != "Incorrectbystudent.push(" + student.IncorrectlyAnswered +");"
          != "</script>"
        .row
          .span5
            #TRbyQuestion(style='height: 300px; width: 400px;')
            br
            span#info1 Click Bar Graph
            #TRbyQuestion2(style='height: 300px; width: 400px;')
          .span5
            h3.center Question with Percent Correct
            dl.dl-horizontal
              if(typeof(Statdata) != 'undefined')
                each question, i in Statdata.Questions
                  if(Statdata.TRbyQuestions[i].PercentCorrect < 50)
                    .alert.alert-danger.span4
                        p
                          strong #{Statdata.TRbyQuestions[i].PercentCorrect}%
                          |  #{question.Questionhtml}
                  else if(Statdata.TRbyQuestions[i].PercentCorrect < 75)
                    .alert.alert-warning.span4
                        p
                          strong #{Statdata.TRbyQuestions[i].PercentCorrect}%
                          |  #{question.Questionhtml}
                  else
                    .alert.alert-success.span4
                        p
                          strong #{Statdata.TRbyQuestions[i].PercentCorrect}%
                          |  #{question.Questionhtml}








                
