mixin resulttable(data)
  table.table.table-condensed.tableclass
    thread
      th Correct
      th % Correct
      th Mean
    tbody
      td #{data.CorrectlyAnswered}
      td #{data.PercentCorrect}
      td #{data.Mean}

mixin QuestionData(data, i)
  p #{[i+1]}) #{data.Questions[i].Questionhtml}
    mixin resulttable(data.TRbyQuestions[i])


!=partial('partials/_TopBarLoggedIn')
  .container
    .row
      .span2
        include partials/_SideBar
      .span10
        h1 Statistics  
        br
        if(typeof(testid) != 'undefined')
          input#testID(type='hidden', name='testID', value='#{testid}')
        if(typeof(Statdata) != 'undefined')
          != "<script type='text/javascript'>"
          != "var Correctbyquestion = [];"
          != "var Incorrectbyquestion = [];"
          != "var Correctbystudent = [];"
          != "var Incorrectbystudent = [];"
          each question in Statdata.TRbyQuestions
            != "Correctbyquestion.push(" + question.CorrectlyAnswered +");"
            != "Incorrectbyquestion.push(" + question.IncorrectlyAnswered +");"
          each student in Statdata.TRbyStudents
             != "Correctbystudent.push(" + student.CorrectlyAnswered +");"
             != "Incorrectbystudent.push(" + student.IncorrectlyAnswered +");"
          != "</script>"
        .row
          .span5
            #TRbyQuestion(style='height: 300px; width: 400px;')
            br
            span#info1 Click Bar Graph
            #TRbyQuestion2(style='height: 300px; width: 400px;')
          .span5
            h3.center Question with Percent Correct
            dl.dl-horizontal
              if(typeof(Statdata) != 'undefined')
                each question, i in Statdata.Questions
                  if(Statdata.TRbyQuestions[i].PercentCorrect < 50)
                    .alert.alert-danger.span4
                      mixin QuestionData(Statdata, i)
                  else if(Statdata.TRbyQuestions[i].PercentCorrect < 75)
                    .alert.alert-warning.span4
                      mixin QuestionData(Statdata, i)
                  else
                    .alert.alert-success.span4
                      mixin QuestionData(Statdata, i)  


- myscripts.push('jqplot/jquery.jqplot.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasTextRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.barRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.pointLabels.min.js')
- myscripts.push('myjqplotscripts.js')
!= renderScriptsTags(myscripts)



                
