- myscripts.push('spin.min.js')
#DeleteTest.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Delete URL
		p.person old text .person
	.modal-body
		p.person old person text that i should not see EVER EVER EVER
		a.btn(href='something') .person
		a.testid(href='linktotestwithtestid') testinformation that should not be seen
		a.alink(href='alink') alink
	.modal-footer
		form.confirmdelete.control-group(action='', method='post')
			button.btn(data-dismiss='modal') No!
			input(type='hidden', name='_method', value='delete')
			input.hiddentest(type='hidden', name='testtodelete')
			button.btn.btn-primary(type='submit') Yes Delete

#UploadFileModal.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Upload PDF of Test!
	.modal-body
		p Do not refresh page, it will happen automatically!
		p.person Please select the correct file!
	.modal-footer
		form.UploadFile.control-group(action='', method='POST',enctype="multipart/form-data")
			input(type="file", name="PDFTest") Select File
			input.hiddentest(type='hidden', name='testtoupload')
			button.btn.btn-primary(type='submit') Start Upload


#GradingModal.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Get some coffee, grading has begun!
	.modal-body
		p This page will update when completed.
		p.ConfirmDone
		#Spinner.Spinner
	.modal-footer
		form.UploadFile.control-group(action='', method='POST',enctype="multipart/form-data")
			input(type="file", name="PDFTest") Select File
			input.hiddentest(type='hidden', name='testtoupload')
			button.btn.btn-primary(type='submit') Start Upload


#CreatePDF.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Get some coffee, grading has begun!
	.modal-body
		p This page will update when completed.
		p.ConfirmDone
		p.CreatedPDFID
		#CreatePDFSpinner.Spinner
	.modal-footer
			a.btn.btn-primary#PDFURL() Open PDF







!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 Your Test instances are below!
				br
				- if(pageerror == 'File must be a PDF!' )
					.alert.alert-error.alert-block
						a.close(data-dismiss='alert', href='#') ×
						h4.alert-heading Error!
						p #{pageerror}
				- if(typeof(AllTests) != 'undefined')
					each test in AllTests
						.alert.alert-info.alert-block
							.row-fluid
								.span6
									h2.alert-heading.classnametext #{test.TestName}
									table.table.table-condensed.tableclass
										thread
											th Class
											th Subject
											th Grade
											th Students
										tbody
											td #{test.ClassName}
											td.subject #{test.Subject}
											td.grade #{test.Gradeyear}
											td.NOS #{test.NumberOfStudents}
								.span6
									.btn-group.pull-right
										button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
											| Actions
											.span.caret
										ul.dropdown-menu
											li
												a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#CreatePDF') Create PDF	
											- if(test.CreatedPDF.length == '1')
												li
													a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#UploadFileModal') Upload 
											- else
												li
													a.notavailable(href='#') Upload

											- if(test.PDFTest.length == '1')
												li
													a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#GradingModal') Grade
											- else
												li
													a.notavailable(href='#') Grade
	
											li
												a(href='/user/#{userID}/statistics/#{test._id}') Statistics
											li 
												a(href='/user/#{userID}/edittest/#{test._id}') Edit
											li.divider
											li
												a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#DeleteTest') Delete Test				
			.span2 
				h3 Mearly test content
				p some cool content here!
				
















