#myModal.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Delete URL
		p.person old text .person
	.modal-body
		p.person old person text that i should not see EVER EVER EVER
		a.btn(href='something') .person
		a.alink(href='alink') alink
	.modal-footer
		form.control-group(action='/user/#{userID}/testdelete', method='post')
		button.btn(data-dismiss='modal') No!
		input(type='hidden', name='_method', value='delete')
		button.btn.btn-primary(type='submit') Yes Delete

#modal-from-dom.modal.hide.fade
	.modal-header
		a.close(href='#') ×
		h3 Delete URL
	.modal-body
		p You are about to delete one track url, this procedure is irreversible.
		p Do you want to proceed?
	.modal-footer
		a.btn.danger(href='delete.php?ref=') Yes
		a.btn.secondary(href='javascript:$(\'#modal-from-dom\').modal(\'hide\')') No


!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 This page will return all existing tests 
				p #{title}
					- if(typeof(AllTests) != 'undefined')
						each test in AllTests
							.alert.alert-success.alert-block
								.row-fluid
									.row-fluid
										.span6
											h4.alert-heading #{test.Class} 
											p #{test.TestName}
										.span6
											.btn-group.pull-right
												button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
													| Actions
													.span.caret
												ul.dropdown-menu
													li 
														a(href='#') Upload
													li
														a(href='#') Review
													li 
														a(href='/user/#{userID}/edittest/#{test._id}') Edit
													li.divider
													form(action='/user/#{userID}/testdelete/#{test._id}', method='post')
														li
															//- a(data-person='Zim', data-toggle='modal', data-target='#myModal') Launch demo modal
															//- a(data-toggle='modal', data-person='Zim', onclick='DoAction(\'#{test._id}\');') Launch demo modal
															//- #myModal.modal.hide.fade	
															//- 	.modal-header
															//- 		button.close(data-dismiss='modal') ×
															//- 		h3 Are You Sure You Want Delete This Test?
															//- 	.modal-body
															//- 		p You will have to recreate it to bring it back.	
															//- 	.modal-footer
															//- 		form.control-group(action='/user/#{userID}/testdelete/#{test._id}', method='post')
															//- 		button.btn(data-dismiss='modal') No!
															//- 		input(type='hidden', name='_method', value='delete')
															//- 		button.btn.btn-primary(type='submit') Yes Delete
															//a(data-toggle='modal', onclick='openModal();') Delete Test	
															
															input(type='hidden', name='_method', value='delete')
															input#submit(type='submit') Submit
															a#uniqID(onclick = 'sendAjax(\'#{test._id}\');') sendAjax
															a#myID(href='#', href'http://www.grimmdude.com/contact/') myID test
															a(onclick = 'sendform()', href='#') sendform()
															a(onclick = 'sendpostonly()') sendpostonly()
															a#fire(href='#', title='submit form') Fire
												button.btn.btn-danger(onclick='ConfirmDelete()', href='areftoaplace') Delete Test			


 

											

			.span2 
				h3 Mearly test content
				p #{title}
				a.confirm-delete(href='#', data-id='23') Delete
				br
				a.confirm-delete(href='#', data-id='54') Delete
				br
				a(data-person='Zim', data-toggle='modal', data-target='#myModal') Zim LInk
				br
				a(data-person='Dib', data-toggle='modal', data-target='#myModal') Dib LInk

//- script
//- 	$(document).ready(function () {
//- 		// $('#myModal').bind('show', function () {
//- 		// document.getElementById("xlInput").value = document.title;
//- 		// });
//- 		// $('#myModal').on('show', function (event) {
//- 		// 	name = $(this).data('modal').options.person
//- 		// 	$(this).find('p').replaceWith('<span class='red'>Hello <b>Again</b></span>')
//- 		// });
//- 		// $('#myID').click(function(e){
//- 		// 	alert('called from click functions')
//- 		// })//end of uniqID
//- 		// jQuery('#myID').click(function(event){
//- 		// 	alert()
//- 		// })
//- 		// $('a#myID').click(function(event){
//- 		// 	event.preventDefault();
//- 		// 	var url = $(this).attr('href');
//- 		// 	var confirm_box = confirm('Are you sure you want to click this link?');
//- 		// 	if (confirm_box) {
//- 		// 		window.location = url;
//- 		// 	}
//- 		// })//end of a#myID
//- 		$('#modal-from-dom').bind('show', function() {
//- 		var id = $(this).data('id'),
//- 		removeBtn = $(this).find('.danger'),
//- 		href = removeBtn.attr('href');
//- 		removeBtn.attr('href', href.replace(/&ref=\\d*/, '&ref=' + id));
//- 		})
//- 		.modal({ backdrop: true });
//- 		$('.confirm-delete').click(function(e) {
//- 		e.preventDefault();
//- 		var id = $(this).data('id');
//- 		$('#modal-from-dom').data('id', id).modal('show');
//- 		});
//- 		});//end of ready function
//- 		function closeDialog() {
//- 		$('#myModal').modal('hide');
//- 		};
//- 		var id;
//- 		function openModal() {
//- 		$('#myModal').modal('show');
//- 		}
//- 		function DoAction(id){
//- 			alert(id)
//- 		}
//- 		function okClicked() {
//- 		document.title = document.getElementById("xlInput").value;
//- 		closeDialog();
//- 		}
//- 		function sendAjax(id){
//- 		$.ajax({
//- 		url: '/user/testajaxpost',
//- 		type: 'DELETE',
//- 		data: id,
//- 		cache: false,
//- 		success: function(html){
//- 			//alert('deleted test')
//- 			window.location.reload()
//- 		},
//- 		error: function(html){
//- 			//alert('error deleting, try again later')
//- 			location.reload()
//- 		}
//- 		})
//- 		};
//- 		$('.abutton').click()
//- 		function testalert(){
//- 			alert('a simple test alert only')
//- 		}
//- 		function sendform(){
//- 			var element = $(this),
//- 				form = $('<form></form>');
//- 			form.attr({
//- 				method: 'POST',
//- 				action: '/user/testajaxpost'
//- 				})
//- 			.end()
//- 			.submit();
//- 		}
//- 		function sendpostonly(){
//- 			$.post('/user/testajaxpost',{
//- 				stuff: {'foo' : 'bar'}
//- 				}, callback,'json')
//- 		}
//- 		function ConfirmDelete(){
//- 			var url = find().attr('href');
//- 			var confirm_box = confirm('Are you sure you want to click this link?' + url);
//- 			if (confirm_box) {
//- 				window.location = url;
//- 			}
//- 		}













