#myModal.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Delete URL
		p.person old text .person
	.modal-body
		p.person old person text that i should not see EVER EVER EVER
		a.btn(href='something') .person
		a.testid(href='linktotestwithtestid') testinformation that should not be seen
		a.alink(href='alink') alink
	.modal-footer
		form.confirmdelete.control-group(action='', method='post')
			button.btn(data-dismiss='modal') No!
			input(type='hidden', name='_method', value='delete')
			input.hiddentest(type='hidden', name='testtodelete')
			button.btn.btn-primary(type='submit') Yes Delete

#modal-from-dom.modal.hide.fade
	.modal-header
		a.close(href='#') ×
		h3 Delete URL
	.modal-body
		p You are about to delete one track url, this procedure is irreversible.
		p Do you want to proceed?
	.modal-footer
		a.btn.danger(href='delete.php?ref=') Yes
		a.btn.secondary(href='javascript:$(\'#modal-from-dom\').modal(\'hide\')') No


!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 This page will return all existing tests 
				p #{title}
					- if(typeof(AllTests) != 'undefined')
						each test in AllTests
							.alert.alert-success.alert-block
								.row-fluid
									.row-fluid
										.span6
											h4.alert-heading #{test.Class} 
											p #{test.TestName}
										.span6
											.btn-group.pull-right
												button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
													| Actions
													.span.caret
												ul.dropdown-menu
													li 
														a(href='#') Upload
													li
														a(href='#') Review
													li 
														a(href='/user/#{userID}/edittest/#{test._id}') Edit
													li.divider
													li
														a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#myModal') Delete Test
															
			.span2 
				h3 Mearly test content
				p #{title}















