#myModal.modal.hide.fade	
	.modal-header
		a.close(href='#', data-dismiss='modal') ×
		h3 Delete URL
		p.person old text .person
	.modal-body
		p.person old person text that i should not see EVER EVER EVER
		a.btn(href='something') .person
		a.testid(href='linktotestwithtestid') testinformation that should not be seen
		a.alink(href='alink') alink
	.modal-footer
		form.confirmdelete.control-group(action='', method='post')
			button.btn(data-dismiss='modal') No!
			input(type='hidden', name='_method', value='delete')
			input.hiddentest(type='hidden', name='testtodelete')
			button.btn.btn-primary(type='submit') Yes Delete


!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 This page will return all existing tests 
				p #{title}
					- if(typeof(AllTests) != 'undefined')
						each test in AllTests
							.alert.alert-success.alert-block
								.row-fluid
									.span6
										h2.alert-heading.classnametext #{test.TestName}
										table.table.table-condensed.tableclass
											thread
												th Class
												th Subject
												th Grade year
												th Students
											tbody
												td #{test.ClassName}
												td.subject #{test.Subject}
												td.grade #{test.Gradeyear}
												td.NOS #{test.NumberOfStudents}
									.span6
										.btn-group.pull-right
											button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
												| Actions
												.span.caret
											ul.dropdown-menu
												li 
													a(href='#') Upload
												li
													a(href='#') Review
												li 
													a(href='/user/#{userID}/edittest/#{test._id}') Edit
												li.divider
												li
													a(data-testid='#{test._id}', data-userid='#{userID}', data-toggle='modal', data-target='#myModal') Delete Test
															
			.span2 
				h3 Mearly test content
				p #{title}















